In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("Crop_data.csv")

In [3]:
print("Missing values:\n", df.isnull().sum())

Missing values:
 N              0
P              0
K              0
Temperature    0
Humidity       0
pH             0
Rainfall       0
Latitude       0
Longitude      0
Crop           0
dtype: int64

In [4]:
df.fillna(df.median(numeric_only=True), inplace=True)

In [5]:
le = LabelEncoder()
df['Crop'] = le.fit_transform(df['Crop'])

In [6]:
df.to_csv("crop_cleaned.csv", index=False)

In [7]:
df.head()

,N,P,K,Temperature,Humidity,pH,Rainfall,Latitude,Longitude,Crop
0,102,79,113,24.35,47.27,5.78,284.33,21.4104,73.4537,1
1,71,142,80,42.15,90.88,4.36,278.35,19.1361,74.3164,3
2,60,36,35,20.84,14.83,6.86,108.02,20.2069,75.2012,14
3,83,43,101,25.77,52.53,8.79,97.64,21.2843,75.9873,0
4,106,33,83,28.74,51.31,4.71,136.56,19.9024,76.6478,6